body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    color: #333;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a5acd;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo img {
    height: 150px;
    margin-right: 10px;
    filter: brightness(0.8);
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    transition: background-color 0.3s ease;
}

header nav a:hover {
    background-color: #444;
    color: #fff
}

main {
    padding: 20px;
    text-align: center;
}

main .team-photo {
    max-width: 30%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #6a5acd;
    color: white;
    text-align: center;
    padding: 15px;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    padding: 5px 10px;
}

footer a:hover {
    text-decoration: underline;
}
